<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_form" method="post">
        <label for="name">NAME</label>
        <input type="text" id="name" name="name" required></input>
        <label for="price">PRICE</label>
        <input type="text" id="price" name="price" required></input>
        <label for="company">COMPANY</label>
        <input type="text" id="company" name="company" required></input>
        <label for="year">YEAR</label>
        <input type="text"id="year" name="year" required></input>
        <button type="submit">추가</button>
    </form>    
</body>
</html>